/* the styles for the elements */

body{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
section{
	width: 525px;
	float: right;
}
aside{
	width: 215px;
	float: right;
}


main section aside{
	padding-right: 30px;
	padding-left: 30px;
	clear: left;
}
main img{
	padding-bottom: 1em;
}
/* the styles for the header */
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}
header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

}

header h2{
	font-size: 170%;
	color: #800000;
}

header h3{
	font-size: 130%;
	font-style: italic;
}


main h3{
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	font-size: 105%;
}


main p{
	padding-bottom: 0.5em;
}

main h2{
	color: #800000;
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu ul li {
	float: left;
}

#nav_menu ul li a {
	display: block;
	width: 160px;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu a.current {
	color: yellow;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}


article h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-bottom: 0;
	margin-top: 0;
}

article{
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article img
{
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	border: 1px black;
}
article h2{
	padding-top: 0;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}




a:hover
{
	font-style: italic;
}

em{
text-shadow: #800000;
}

blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

ul{
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}

li{
	padding-bottom: 0.35em;
}

footer {
	border-bottom: 3px solid #931420;
	background-color: #931420;
	clear: right;
}
footer p{
	text-align: center;
	color: white;
}
article p{
	color: black;
}

* {
	margin: 0;
}
aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}
article h3{
	color: #000;
}
aside img{
	padding-bottom: 1em;
}
/* the styles for the footer */
